{% extends 'main/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'school/css/index.css' %}">
{% endblock %}

{% block message %}
<div class="container" id="message-container">
    {% if messages %}
    {% for message in messages %}
    <div class="my-alert-success" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#00e400" class="bi bi-person-fill-check"
             viewBox="0 0 16 16">
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
        </svg>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block form %}
<div class="card shadow-sm p-2 mb-3 bg-white rounded mt-5" style="max-width: 400px; margin: auto;">
    <div class="card-body">
        <form action="{% url 'auth:profile' %}" method="post" class="form-signin">
            {% csrf_token %}
            <h3 class="h3 mb-2 font-weight-normal text-center">Личная информация</h3>
            <div class="form-group mt-3">
                <label for="{{ form.first_name.id_for_label }}">Имя</label>
                {{ form.first_name }}
            </div>
            <div class="form-group">
                <label for="{{ form.last_name.id_for_label }}">Фамилия</label>
                {{ form.last_name }}
            </div>
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Логин</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <button class="btn btn-md btn-block mt-4" type="submit" style="border-radius: .75rem;">
                    Сохранить
                </button>
            </div>
            <p class="text-center">
                <a href="{% url 'auth:password_reset' %}" style="text-decoration: none;"> Забыли пароль?</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}
