body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
}
.header a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}
.header span {
    vertical-align: 27px;
}
.logo {
    width: 70px;
    height: auto;
}
.nav {
    display: flex;
    list-style: none;
}
.nav li {
    margin: 0 10px;
}
.nav a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}
.nav a:hover {
    color: #32cd32;
}
.nav a:active {
    color: red;
}
.nav .button {
    background: #000000;
    color: #fff;
    padding: 0.6rem 2rem;
    text-decoration: none;
    border-radius: 4px;
}
.nav .button:hover {
    background: #a0a0a0;
    color: #fff;
    padding: 0.6rem 2rem;
    text-decoration: none;
    border-radius: 4px;
}
.banner {
    height: 400px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
}
.main {
    display: flex;
    padding: 20px;
    background: linear-gradient(-30deg, green, white, red);
}
.main .left {
    width: 50%;
    text-align: justify;
    font-weight:bold;
}
.main .right {
    width: 50%;
    margin-left: 30px;
    text-align: justify;
    font-weight:bold;
}
.main h2 {
    color: #000000;
    font-size: 30px;
    margin-bottom: 10px;
}
.main p {
    color: #000000;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight:bold;
}
.main img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.main ul {
    list-style: none;
    margin-bottom: 20px;
}
.main li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.main li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.main li span {
    color: #333333;
    font-size: 18px;
}
.footer {
    padding: 20px;
    background-color: #333333;
}
.footer p {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}
.dropdown {
  position: relative;
  font-weight: bold;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.message-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
.message-success {
  background-color: #81ce81;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.message-close {
  float: right;
  cursor: pointer;
  font-weight: bold;
  text-indent: 7px;
}
