html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.my-alert-danger {
    position: fixed;
    right: 10px;
    top: 20px;
    border-radius: 7px;
    padding: 10px;
    background-color: #FF0000;
    z-index: 1000;
    display: block;
    max-height: 10%;
    overflow-y: auto;
    width: 30%;
}

.my-alert-success {
    position: fixed;
    right: 10px;
    top: 20px;
    border-radius: 7px;
    padding: 10px;
    background-color: #2ed22e;
    z-index: 1000;
    display: block;
    max-height: 10%;
    overflow-y: auto;
    width: 30%;
}