.small-icon {
    width: 40px;
    height: 40px;
}
.navbar {
    padding: 0.5rem 1rem !important;
    background-color: #3CB371 !important;
}
.navbar-brand,
.navbar-nav .nav-link {
    color: #000 !important;
}
.navbar-brand img {
    height: 40px !important;
    margin-right: 10px !important;
}
.navbar-nav {
    font-weight: bold !important;
    font-size: 1.1em !important;
}