{% extends 'main/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'school/css/index.css' %}">
{% endblock %}

{% block section %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>NSTU-School - это онлайн-платформа для обучения высшей математики.</h1>
            <img src="{% static 'school/img/banner.jpg' %}" class="img-fluid">
            <p>NSTU-School предлагает качественную и доступную помощь в обучении по самым необходимым предметам высшей математики, таким как <strong>Математический анализ</strong> и <strong>Линейная алгебра</strong>. Наши курсы подходят как для начинающих, так и для продвинутых студентов, которые хотят улучшить свои навыки и расширить свои возможности. Наши преподаватели - студенты старших курсов, которые готовы поделиться своими знаниями и помочь вам достичь своих целей.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Наша команда</h1>
            <div class="card-deck">
                <div class="card">
                    <img src="{% static 'school/img/user-1.png' %}" class="card-img-top w-25" alt="User 1">
                    <div class="card-body">
                        <h5 class="card-title">Матвей Варламов</h5>
                        <p class="card-text">Основатель и CEO</p>
                        <a href="mailto:matvey_1771@icloud.com" class="btn btn-primary">Связаться</a>
                    </div>
                </div>
                <!-- Repeat for other team members -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
