{% extends 'main/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'school/css/index.css' %}">
{% endblock %}

{% block main %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>NSTU-School - это онлайн-платформа для обучения высшей математики.</h1>
            <img src="{% static 'school/img/banner.png' %}" class="img-fluid mb-3">
            <p><strong><span style="font-size:21px;">Высшая математика</span></strong> — это важный предмет, который
                часто становится камнем преткновения для многих студентов. Наши курсы в <strong>NSTU-School</strong>
                предназначены для тех, кто хочет улучшить свои знания в этой области и успешно справиться с экзаменами.
            </p>

            <p><strong><span style="font-size:21px;">Проблема:</span></strong>
                Статистика показывает, что более 70% студентов не сдают экзамены по высшей математике. Мы понимаем, что
                это вызывает недовольство и стресс 🤯</p>

            <p><strong><span style="font-size:21px;">Решение:</span></strong>
                Мы разработали специальные курсы, которые помогут вам подготовиться к экзаменам и улучшить ваши знания.
                В рамках наших курсов вы найдете задания, которые встречаются в <strong>типовых расчетах, ргз, домашних
                    заданиях
                    и контрольных работах</strong>.</p>

            <p><strong><span style="font-size:21px;">Преимущества:</span></strong>
            <p>- Уверенность: После прохождения наших курсов вы будете уверены в своих знаниях и навыках.</p>
            <p>- Хорошие оценки: Наши студенты не только получают хорошие оценки за экзамены, но и набирают высокие
                баллы за контрольные и типовые расчеты. Это особенно важно в балльно-рейтинговой системе.</p></p>

            <span style="font-size:20px; padding:1px;"><p>Присоединяйтесь к <strong>NSTU-School</strong> и добейтесь успеха в высшей математике! 📚🔢</p></span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Наша команда</h1>
            <div class="card-deck">
                <div class="card" style="border-radius: .85rem;">
                    <img src="{% static 'school/img/user-1.png' %}" class="card-img-top w-25" alt="User 1"
                         style="border-radius: .85rem">
                    <div class="card-body">
                        <h5 class="card-title">Матвей Варламов</h5>
                        <p class="card-text">Основатель и CEO</p>
                        <a href="mailto:matvey_1771@icloud.com" class="btn" style="border-radius: .5rem;">Связаться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
