{% extends 'main/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'school/css/index.css' %}">
{% endblock %}

{% block main %}
<div class="container">
    <div class="card mb-4 mt-3" style="border-radius: .75rem;">
        <div class="row no-gutters">
            <div class="col-md-4 col-7">
                <img class="card-img-top" src="{% static 'school/img/matanaliz_cours.jpg' %}"
                     alt="Математический анализ" style="border-radius: .75rem;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">Математический анализ</h2>
                    <p class="card-text">- Все темы из экзамена</p>
                    <p class="card-text">- Задания из типовых расчётов и ДЗ</p>
                    <p class="card-text">- Вебинары в формате записи</p>
                    <p class="card-text">- Конспекты</p>
                    <a href="{% url 'courses:matanaliz' %}" class="btn" style="border-radius: .5rem;">Перейти</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4" style="border-radius: .75rem;">
        <div class="row no-gutters">
            <div class="col-md-4 col-7">
                <img class="card-img-top" src="{% static 'school/img/linal_cours.jpg' %}" alt="Линейная алгебра"
                     style="border-radius: .75rem;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">Линейная алгебра</h2>
                    <p class="card-text">- Все темы из экзамена</p>
                    <p class="card-text">- Задания из типовых расчётов и ДЗ</p>
                    <p class="card-text">- Вебинары в формате записи</p>
                    <p class="card-text">- Конспекты</p>
                    <a href="#" class="btn" style="border-radius: .5rem;">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
