{% extends 'main/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'school/css/index.css' %}">
{% endblock %}


{% block banner %}
<div class="banner"></div>
{% endblock %}


{% block main %}
<div class="main">
    <div class="left">
        <h2>Добро пожаловать в NSTU-School</h2>
        <p>NSTU-School - это онлайн-платформа для обучения высшей математики. На нашем сайте вы найдете качественные
            и доступные курсы по различным темам предмета, которые помогут вам повысить свои знания в вузе.</p>
        <p>Наша миссия - сделать образование интересным, практичным и доступным для всех. Мы верим, что каждый
            человек может научиться чему-то новому и полезному, если он имеет желание, мотивацию и поддержку. Наша
            команда состоит из опытных студентов, которые готовы поделиться своими знаниями
            и опытом с вами.</p>
        <img src="{% static 'school/img/students.jpg' %}" alt="Студенты">
        <h2>Почему выбирают нас?</h2>
        <p>Вот несколько причин, по которым вы должны выбрать нашу платформу для обучения:</p>
        <ul>
            <li><img src="{% static 'school/img/quality.png' %}" alt="Качество">
                <span>Высокое качество материалов, проверенных и одобренных нашими профессорами.</span>
            </li>
            <li><img src="{% static 'school/img/flexibility.png' %}" alt="Гибкость">
                <span>Гибкий график обучения, который вы можете адаптировать под свой ритм и свободное время.</span>
            </li>
            <li><img src="{% static 'school/img/support.png' %}" alt="Поддержка">
                <span>Постоянная поддержка и обратная связь от наших студентов-наставников, которые помогут вам с любыми вопросами и трудностями.</span>
            </li>
        </ul>
    </div>
    <div class="right">
        <h2>Популярные курсы</h2>
        <img src="{% static 'school/img/matanaliz.jpg' %}" alt="Матанализ">
        <p>Матанализ - это совокупность разделов математики, соответствующих историческому разделу под наименованием
            «анализ бесконечно малых», объединяет дифференциальное и интегральное исчисления.
            На классическом математическом анализе основывается современный анализ, который рассматривается как одно
            из трёх основных направлений математики (наряду с алгеброй и геометрией).</p>
        <img src="{% static 'school/img/linal.jpg' %}" alt="Линейная алгебра">
        <p>Линейная алгебра - раздел алгебры, изучающий математические объекты линейной природы: векторные (или
            линейные) пространства, линейные отображения, системы линейных уравнений.
            Среди основных инструментов, используемых в линейной алгебре — определители, матрицы, сопряжение. Теория
            инвариантов и тензорное исчисление обычно (в целом или частично) также считаются
            составными частями линейной алгебры.</p>
    </div>
</div>
{% endblock %}


{% block message %}
<div class="message-container">
    {% if messages %}
    {% for message in messages %}
    <div class="message-success">
        {{ message }}
        <span class="message-close" onclick="this.parentElement.style.display='none';">×</span>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}






