{% extends 'main/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'school/css/index.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}


{% block main %}
<div class="container">
    <img src="{% static 'school/img/banner.png' %}" class="img-fluid mt-4">
    <div class="row mt-4">
        <div class="col-md-6">
            <h2>Добро пожаловать в NSTU-School</h2>
            <p><strong>NSTU-School</strong> - это онлайн-платформа для обучения высшей математики. На нашем сайте вы найдете качественные
                и доступные курсы по различным темам предмета, которые помогут вам повысить свои знания в вузе.</p>
            <p><strong>Наша миссия</strong> - сделать образование интересным, практичным и доступным для всех. Мы верим, что каждый
                человек может научиться чему-то новому и полезному, если он имеет желание, мотивацию и поддержку. Наша
                команда состоит из опытных студентов, которые готовы поделиться своими знаниями
                и опытом с вами.</p>
            <img src="{% static 'school/img/students.jpg' %}" alt="Студенты" class="img-fluid">
            <h2>Почему выбирают нас?</h2>
            <p>Вот несколько причин, по которым вы должны выбрать нашу платформу для обучения:</p>
            <ul class="list-unstyled">
                <li class="media mb-3">
                    <img src="{% static 'school/img/quality.png' %}" alt="Качество" class="mr-3 small-icon">
                    <div class="media-body">
                        <span>Высокое качество материалов, проверенных и одобренных нашими профессорами.</span>
                    </div>
                </li>
                <li class="media mb-3">
                    <img src="{% static 'school/img/flexibility.png' %}" alt="Гибкость" class="mr-3 small-icon">
                    <div class="media-body">
                        <span>Гибкий график обучения, который вы можете адаптировать под свой ритм и свободное время.</span>
                    </div>
                </li>
                <li class="media mb-3">
                    <img src="{% static 'school/img/support.png' %}" alt="Поддержка" class="mr-3 small-icon">
                    <div class="media-body">
                        <span>Постоянная поддержка и обратная связь от наших студентов-наставников, которые помогут вам с любыми вопросами и трудностями.</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Популярные курсы</h2>
            <img src="{% static 'school/img/matanaliz.jpg' %}" alt="Матанализ" class="img-fluid">
            <p><strong>Математический анализ</strong> - это увлекательная и фундаментальная область математики,
                которая занимается изучением пределов, производных, интегралов и бесконечно малых.
                Это ключевой инструмент для понимания и описания изменений и движения в нашем мире.
                Он применяется в самых разных областях, от физики и инженерии
                до экономики и социальных наук.</p>
            <img src="{% static 'school/img/linal.jpg' %}" alt="Линейная алгебра" class="img-fluid">
            <p><strong>Линейная алгебра</strong> - это увлекательная и фундаментальная область математики,
                которая играет ключевую роль в понимании структур, размерности и преобразований.
                Она представляет собой основу для изучения векторов, матриц, линейных преобразований и систем линейных уравнений.
                Эти концепции не только формируют теоретическую основу для дальнейших исследований в математике и науке, но и
                имеют широкое применение в таких областях, как компьютерное зрение, машинное обучение,
                оптимизация и многие другие.</p>
        </div>
    </div>
</div>
{% endblock %}






