{% extends 'main/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'school/css/matanaliz.css' %}">
{% endblock %}

{% block main %}
{% for theme in themes %}
<div class="card mb-3 mt-2 ml-2 mr-2">
    <div class="row no-gutters">
        <div class="col-md-2 col-4">
            <img src="{{ theme.photo.url }}" class="card-img" alt="{{ theme.name }}">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h4 class="card-title">{{ theme.name }}</h4>
                <h5 class="display-5">{{ theme.price }} ₽/курс</h5>
                <a href="{% url 'courses:matanaliz_tema' theme.name %}" class="btn btn-primary mr-3"
                   style="border-radius: .5rem; background-color: #b2ccff; color: blue; border-color: #b2ccff;">Подробнее</a>
                <a href="{% url 'courses:basket_add' theme.id %}" class="btn" style="border-radius: .5rem;">В
                    корзину</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}